body {
    color: rgb(136, 130, 130);
    background-color: black;
}

#addCart {
    background-color: rgb(189, 166, 166);
}

#buttonId{
    background-color: rgb(189, 166, 166);
}

#inputValue{
    background-color: rgb(189, 166, 166);
}

#addToCart {
    display:none;
}

#remove {
    margin-left: 10px;
    width: 40px;
    height: 20px;
    font-size: 70%;
    padding: 0;
}

#cartCard {
    display: none;
}

#displayTotal {
    display: none;
}

#checkoutButton {
    background-color: aquamarine;
}