body {
    color: #080808;
    background-color: rgb(251, 251, 251);
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    height : 100vh;
}

#selection {
    background-color: green;
    width: 70%;
}

#cart {
    background-color: blue;
    width: 30%;
}

#addCart {
    background-color: rgb(189, 166, 166);
}

#buttonId{
    background-color: rgb(189, 166, 166);
}

#inputValue{
    background-color: rgb(189, 166, 166);
}

#addToCart {
    display:none;
}

#remove {
    margin-left: 10px;
    width: 40px;
    height: 20px;
    font-size: 70%;
    padding: 0;
}

#cartCard {
    display: none;
}

#displayTotal {
    display: none;
}

#checkoutButton {
    background-color: aquamarine;
}
