body {
    color: #080808;
    background-color: rgb(251, 251, 251);
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    flex-direction: column;
    height: 100vh;
    scroll-behavior: smooth;
}

header {
    font-family: 'Times New Roman', Times, serif;
    font-size: x-large;
    position: relative;
}


#shopInterface {
    display: flex;
    flex-direction: row;
}



#selection {
    width: 70%;
    display: flex;
    flex-direction: column;
}

#cart {
    background-color: blue;
    width: 30%;
    display: flex;
    flex-direction: column;

}

#addCart {
    background-color: rgb(189, 166, 166);
}

#buttonId{
    background-color: rgb(189, 166, 166);
}


#addToCart {
    display:none;
}

#remove {
    margin-left: 10px;
    width: 40px;
    height: 20px;
    font-size: 70%;
    padding: 0;
}

#cartCard {
    display: none;
}

#displayTotal {
    display: none;
}

#checkoutButton {
    background-color: aquamarine;
}





@media (min-width: 640px) { /* sm: */
    #cart {
      padding-left: 24px; /* sm:px-6 */
      padding-right: 24px;
    }
  }

  @media (min-width: 1024px) { /* lg: */
    #cart {
      padding-left: 32px; /* lg:px-8 */
      padding-right: 32px;
    }
  }